* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
    color: #222;
    line-height: 1.6;
}
h1 {
    background-color: #28a745;
    color: white;
    text-align: center;
    padding: 35px;
    font-size: 2.5rem;
    letter-spacing: 2px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
h2 {
    color: #28a745;
    text-align: center;
    margin: 40px 0 20px;
    font-size: 1.8rem;
    border-bottom: 2px solid #28a745;
    display: inline-block;
    padding-bottom: 5px;
    width: 100%;
}
p {
    max-width: 900px;
    margin: 10px ;
    padding: 0 20px;
    font-size: 1.3rem;
    text-align: justify;
}
.syll, .stu, .qn, .lab {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    margin: 20px auto 40px;
    max-width: 900px;
}

/* Buttons */
button.s {
    background-color: #a5d6a7;
    color: #000;
    border: none;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

button.s:hover {
    background-color: #66bb6a;
    color: #fff;
    transform: scale(1.05);
}
.lab button{
     background-color: #a5d6a7;
    color: #000;
    border: none;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.lab button:hover{
    background-color: #66bb6a;
    color: #fff;
    transform: scale(1.05);
}

 .back-btn {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background: #2d8e47;
  border-radius: 8px;
  font-weight: 500;
  transition:  0.3s;
  color: white;
  text-decoration: none;
  
}

.back-btn:hover {
  background: #0055aa;
 
}

    footer {
      background: #003366;
      color: white;
      text-align: center;
      padding: 1rem;
      margin-top: 3rem;
    }
.clear{
    clear: both;
  }